<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>book::list</title>
</head>
<body>
<h3>네이버 오픈 API를 활용한 도서 목록</h3>

<h1>책 검색</h1>

<div class="container">
  <form action="/book/list" method="get">
    <div class="form-group">
      <input type="text" name="text" placeholder="검색어를 입력하세요">
    </div>
    <button type="submit">검색</button>
  </form>
</div>

<table border="1">
  <tr th:each="book:${books}">
    <td>[[${book.isbn}]]</td>
    <td><img th:src="${book.image}" th:alt="${book.title}" width="100"></td>
    <td><a th:href="${book.link}">[[${book.title}]]</a></td>
    <td>[[${book.author}]]/[[${book.publisher}]]</td>
    <td>[[${book.pubdate}]]</td>
  </tr>
</table>

</body>
</html>