<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="|${pageName}|"></title>
  <link rel="stylesheet" href="/Style.css">

</head>
<body>
<div>
  <h1><a th:href="|/${loginType}|">[[${pageName}]]</a></h1> <hr/>
  <h2>유저 정보</h2>
  <div>
    <div th:text="|아이디 : ${user.loginId}|"/>
    <div th:text="|닉네임 : ${user.nickname}|"/>
    <div th:text="|등급 : ${user.role}|"/>
    <div th:text="|가입 날짜 : ${user.createTime}|"/>
    <button th:onclick="|location.href='@{/{loginType}/edit (loginType=${loginType})}'|">정보 수정</button>
    <button type="button" th:onclick="|location.href='@{/${loginType}/delete/${user.id}}'|">회원 탈퇴</button> <br/>


  </div>
</div>
</body>
</html>