<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|${pageName}|"></title>
    <link rel="stylesheet" href="/Style.css">

</head>
<body>
<h1><a th:href="|/${loginType}|">[[${pageName}]]</a></h1> <hr/>

<form action="/security-login/admin/userList/search" method="GET">
    <div>
        <input name="keyword" type="text" placeholder="닉네임 검색">     <button>검색하기</button>
    </div>
</form>

<table style="border-spacing: 1em;">
    <tr>
        <th>아이디</th>
        <th>닉네임</th>
        <th>권한</th>
        <th>삭제</th>
        <th>권한 수정</th>
    </tr>
    <tr th:each="user: ${dto}">
        <td th:text="${user.loginId}"></td>
        <td th:text="${user.nickname}"></td>
        <td th:text="${user.userRole}"></td>
        <td>

            <a th:href="@{|/security-login/delete/${user.id}?currentPage=${dto.number+1}|}">삭제</a>
        </td>
        <td>
            <form th:action="@{|/security-login/${user.id}/update-role?currentPage=${dto.number+1}|}" method="post">
                <select name="role">
                    <option value="USER" th:selected="${user.userRole == 'USER'}">USER</option>
                    <option value="ADMIN" th:selected="${user.userRole == 'ADMIN'}">ADMIN</option>
                    <option value="BlACKLIST" th:selected="${user.userRole == 'BlACKLIST'}">BlACKLIST</option>
                </select>
                <button type="submit">변경</button>
            </form>
        </td>
        <td>
            <a th:href="@{/security-login/user/{userId}/chat(userId=${user.id})}">채팅 시작</a>
        </td>


    </tr>
</table>

<!-- First -->
<a th:href="@{/security-login/admin/userList/search(page=1, keyword=${param.keyword})}">First</a>
<!-- Prev -->
<a th:href="${dto.first} ? '#' : @{/security-login/admin/userList/search(page=${dto.number}, keyword=${param.keyword})}">prev</a>
<!-- Page Numbers -->
<span th:each="page: ${#numbers.sequence(startPage, endPage)}">
    <span th:if="${page == dto.number + 1}" th:text="${page}"></span>
    <span th:unless="${page == dto.number + 1}">
        <a th:href="@{/security-login/admin/userList/search(page=${page}, keyword=${param.keyword})}" th:text="${page}"></a>
    </span>
</span>
<!-- Next -->
<a th:href="${dto.last} ? '#' : @{/security-login/admin/userList/search(page=${dto.number + 2}, keyword=${param.keyword})}">next</a>
<!-- Last -->
<a th:href="@{/security-login/admin/userList/search(page=${dto.totalPages}, keyword=${param.keyword})}">Last</a>


</body>
</html>
